.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
