.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  background-color: var(--dark-l1);
  border-top: solid thin var(--secondary-d2);
}

.tab {
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 20ch;
  border: none;
  cursor: pointer;
  padding: var(--spacing-unit);
}

.tab[aria-selected='true'] {
  background-color: var(--primary);
  color: var(--dark);
}

.tab:active {
  background-color: var(--primary-d1);
  color: var(--dark);
}

.tab:hover {
  background-color: var(--primary-l1);
  color: var(--dark);
}

.tab:focus {
  background-color: var(--primary-l1);
  color: var(--dark);
  outline: none;
}

.tab + .tab {
  border-left: solid thin var(--secondary-d2);
}

.tabIcon {
  font-size: 22px;
}

.content {
  flex-grow: 1;
  overflow-x: auto;
}

.tabContent {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  overflow: auto;
}

.tabSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
