.button {
  border: solid thin var(--border-color);
  background-color: var(--accent-background);
  color: var(--accent-color);
  font-family: inherit;
  font-size: 1rem;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 3);
  border-radius: var(--roundness);
  cursor: pointer;
  transition: background-color ease var(--transition-duration),
    color ease var(--transition-duration);
  will-change: background-color, color;
  display: inline-flex;
  align-items: center;
}

.button:hover {
  background-color: var(--accent-2-background);
  color: var(--accent-2-color);
}

.button:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-color);
  cursor: default;
}

.button:active {
  background-color: var(--accent-background);
  color: var(--accent-color);
  transition-duration: 0s;
}

.buttonLarge {
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 3);
}
