.card {
  box-sizing: border-box;
  padding: var(--spacing-unit);
  margin: 0;
  width: 100%;

  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;

  overflow: hidden;
  text-align: left;
}

@media (min-width: 768px) {
  .card {
    padding: calc(var(--spacing-unit) * 2);
  }
}

.thumbnail {
  display: block;
  width: 100%;
  padding-top: 100%;
  background: var(--dark-l1);
  background-size: cover;
  background-position: center center;
  border-radius: var(--roundness);
}

.title {
  display: block;
  padding: var(--spacing-unit);
  word-break: break-word;
  max-height: 3.5em;
  font-size: 0.875em;
}
