.wrapper {
  overflow: hidden;
  height: 65vh;
  width: 72ch;
  margin: 0 auto;
  max-width: calc(100vw - var(--spacing-unit) * 4);
  box-sizing: border-box;
  background-color: var(--main-background);
  position: relative;
  display: flex;
  flex-direction: column;
}

.breadcrumbList {
  list-style: none;
  background-color: var(--accent-background);
  color: var(--accent-color);
  padding: calc(var(--spacing-unit) * 1.25) calc(var(--spacing-unit) * 2);
  border-bottom: solid thin var(--border-color);
  width: 100%;
  box-sizing: border-box;
  font-size: 0.875rem;
  margin: 0;

  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
}

.breadcrumbSeparator {
  display: block;
  flex-shrink: 0;
  padding: 0 calc(var(--spacing-unit) * 0.5);
}

.breadcrumbItem {
  flex-shrink: 1;
  min-width: 1ch;
  display: block;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--accent-2-background);
  color: var(--accent-2-color);
  border-radius: calc(var(--spacing-unit) + 1em);
  padding: calc(var(--spacing-unit) * 0.5) calc(var(--spacing-unit) * 1.5);
}

.buttonList {
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.buttonListItem + .buttonListItem {
  border-top: solid thin var(--border-color);
}

.buttonListButton {
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: var(--main-background);
  color: var(--main-color);
  font-size: 1rem;
  font-family: inherit;
  padding: calc(var(--spacing-unit) * 2);
  cursor: pointer;
  border-radius: 0;
}

.buttonListButton:hover {
  background-color: var(--accent-background);
  color: var(--accent-color);
}

.buttonListButton:active {
  background-color: var(--accent-3-background);
  color: var(--accent-3-color);
}

.buttonListButton:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-color);
  cursor: default;
}

.buttonListIcon {
  margin-right: calc(var(--spacing-unit) * 2);
  font-size: 1.5rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer {
  background-color: var(--accent-background);
  border-top: solid thin var(--border-color);
  padding: calc(var(--spacing-unit) * 1.25) calc(var(--spacing-unit) * 2);
  display: flex;
  justify-content: flex-end;
}
