.form {
  display: grid;
  grid-template-columns: auto auto;
}

.formCell {
  display: flex;
  align-items: center;
  margin: calc(var(--spacing-unit) / 2);
  justify-content: flex-end;
}

.input {
  font-size: 1em;
  font-family: inherit;
  outline: none;
  background-color: var(--backgroundColor);
  border: solid thin var(--borderColor);
  border-radius: var(--roundness);
  color: var(--textColor);
  display: inline-block;
  min-width: 10ch;
  padding: calc(var(--spacing-unit) * 0.25) var(--spacing-unit)
    calc(var(--spacing-unit) * 0.5);
}

.input:focus {
  box-shadow: var(--focusRing);
}
