.list {
  padding: 0;
  margin: 0 auto;
  max-width: 60ch;
  box-shadow: 0 0 0 1px var(--dark-l1);
  list-style: none;
  min-height: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0;
}

.listItem + .listItem {
  border-top: solid thin var(--dark-l1);
}

.listButtonItem,
.listToggleItem {
  padding: 0;
}

.listButton {
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem 1rem 0.5rem 0;
  text-align: left;
  background: none;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.listButton:hover {
  background-color: var(--primary-l1);
  color: var(--dark);
}

.listButton:focus {
  background-color: var(--primary-l1);
  color: var(--dark);
  outline: none;
}

.listButton:active {
  background-color: var(--primary-d1);
  color: var(--dark);
}

.listLabel {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0;
  word-break: break-word;
}

.listCheckbox:hover + .listLabel {
  background-color: var(--primary-l1);
  color: var(--dark);
}

.listCheckbox:focus + .listLabel {
  background-color: var(--primary-l1);
  color: var(--dark);
  outline: none;
}

.listButton:active {
  background-color: var(--primary-d1);
  color: var(--dark);
}

.listToggleItem {
  position: relative;
}

.listToggle {
  border: solid thin var(--dark-l1);
  border-radius: var(--roundness);
  overflow: hidden;
  background: var(--dark);
  flex-shrink: 0;
}

.listToggle::before {
  content: '';
  display: block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 1.25em;
  background: var(--dark-l1);
  transition: margin ease calc(var(--transition-duration) / 2),
    background ease calc(var(--transition-duration) / 2);
  will-change: margin, background;
}

.listCheckbox:checked + .listLabel .listToggle::before {
  margin-right: 0;
  margin-left: 1.25em;
  background: var(--primary);
}

.listCheckbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.listItemIcon {
  padding: 1rem;
}

.listItemContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listItemSubtitle {
  color: var(--secondary-d1);
  font-size: 0.875rem;
}

.subListTitle {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  background: var(--dark-l1);
}

.listCheckbox:hover + .listLabel .listItemSubtitle,
.listCheckbox:active + .listLabel .listItemSubtitle,
.listCheckbox:focus + .listLabel .listItemSubtitle,
.listButton:hover .listItemSubtitle,
.listButton:active .listItemSubtitle,
.listButton:focus .listItemSubtitle {
  color: var(--secondary-d2);
}
