.wrapper {
  border-bottom: solid thin var(--borderColor);
  border-top: solid thin var(--borderColor);
  width: 40ch;
  max-width: 100%;
  margin: var(--spacing-unit) auto calc(var(--spacing-unit) * 3) auto;
}

.header {
  display: block;
  background-color: var(--primaryLightColor);
  border-bottom: solid thin var(--borderColor);
  padding: var(--spacing-unit);
  font-weight: bolder;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 20em;
  overflow-y: auto;
}

.button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: var(--spacing-unit);
  cursor: pointer;
  outline: none;
}

.button:focus {
  background-color: var(--primaryColor);
}

.button:hover {
  background-color: var(--primaryLightColor);
}

.listItem + .listItem > .button {
  border-top: solid thin var(--borderColor);
}
