.wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--roundness);
  filter: opacity(1) brightness(1);
  transition: filter ease var(--transition-duration);
}

.wrapperLoading {
  filter: opacity(0.8) brightness(0.6);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
