.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
}

.headerContent {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: var(--spacing-unit);
  font-size: 2rem;
  width: 2em;
  height: 2em;
}

.closeButton:hover {
  background-color: var(--primary-l1);
  color: var(--dark);
}

.closeButton:active {
  background-color: var(--primary-d1);
  color: var(--dark);
  transition-duration: 0s;
}

.closeButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButtonLabel {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.content {
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  z-index: 1;
}
