.wrapper {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.thumbnailWrapper {
  box-sizing: border-box;
  padding: 2px;
}

.thumbnail {
  background-color: var(--borderColor);
  background-size: cover;
  width: 100%;
  height: 100%;
  border: none;
}
