.wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  z-index: 3;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
