.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.list {
  height: 100%;
  position: relative;
}

.cell {
  position: absolute;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.cellContent {
  width: 100%;
  height: 100%;
}
