@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.spinner {
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid var(--dark-l2);
  border-right: 1.1em solid var(--dark-l2);
  border-bottom: 1.1em solid var(--dark-l2);
  border-left: 1.1em solid var(--primary-l2);
  transform: translateZ(0);
  animation: spinner 1.1s infinite linear;
}
