.tabsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border-top: solid thin var(--border-color);
}

.tab {
  background: transparent;
  color: var(--main-color-secondary);
  font-family: inherit;
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 20ch;
  border: none;
  cursor: pointer;
  padding: var(--spacing-unit);
}

.tab:hover {
  background-color: var(--highlight-background);
  color: var(--highlight-color);
}

.tab[aria-selected='true'],
.tab:active {
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.tab + .tab {
  border-left: solid thin var(--border-color);
}

.tabIcon {
  font-size: 22px;
}

.tabsContent {
  flex-grow: 1;
  overflow-x: auto;
}

.tabContent {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  overflow: auto;
}

.tabSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
