.tabsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border-top: solid thin var(--border-color);
}

.tab {
  background: transparent;
  color: var(--main-color-secondary);
  font-family: inherit;
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 20ch;
  border: none;
  cursor: pointer;
  padding: var(--spacing-unit);
}

.tab:hover {
  background-color: var(--highlight-background);
  color: var(--highlight-color);
}

.tab[aria-selected='true'],
.tab:active {
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.tab + .tab {
  border-left: solid thin var(--border-color);
}

.tabLabel {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.tabsContent {
  flex-grow: 1;
  overflow-x: auto;
}

.tabContent {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  overflow: auto;
}

.tabSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 960px) {
  .tabsWrapper {
    flex-direction: row-reverse;
  }

  .tabs {
    flex-direction: column;
    justify-content: flex-start;
    border-top: none;
    border-right: solid thin var(--border-color);
  }

  .tab {
    align-items: center;
    border-bottom: solid thin var(--border-color);
    flex-direction: row;
    position: relative;
    width: auto;
  }

  .tab + .tab {
    border-left: none;
  }

  .tabIcon {
    display: flex;
    transform: scale(0.75);
  }

  .tabLabel {
    background-color: var(--highlight-background);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    color: var(--highlight-color);
    display: none;
    border-bottom-right-radius: var(--roundness);
    border-top-right-radius: var(--roundness);
    font-weight: bold;
    height: calc(100% + 1px);
    line-height: 4em;
    left: 100%;
    padding: 0 var(--spacing-unit);
    position: absolute;
    width: auto;
  }

  .tab:hover .tabLabel,
  .tab:focus .tabLabel {
    display: block;
  }
}
